In [1]:
import os
import sys
import requests
import pandas as pd
from pandas.io.json import json_normalize
import pandas_datareader.data as web

In [2]:
spx_df = web.DataReader('^SPX', 'stooq')
dji_df = web.DataReader('^DJI', 'stooq')

In [3]:
spx_df.head()

               Open     High      Low    Close       Volume
Date
2020-01-07  3241.86  3244.91  3232.43  3237.18          NaN
2020-01-06  3217.55  3246.84  3214.64  3246.28  575474563.0
2020-01-03  3226.36  3246.15  3222.34  3234.85  509241848.0
2020-01-02  3244.67  3258.14  3235.53  3257.85  517131498.0
2019-12-31  3215.18  3231.72  3212.03  3230.78  431595893.0

In [4]:
dji_df.head()

                Open      High       Low     Close      Volume
Date
2020-01-07  28639.18  28685.50  28565.28  28583.68         NaN
2020-01-06  28465.50  28708.02  28418.63  28703.38  79115977.0
2020-01-03  28553.33  28716.31  28500.36  28634.88  75068172.0
2020-01-02  28638.97  28872.80  28627.77  28868.80  73668133.0
2019-12-31  28414.64  28547.35  28376.49  28538.44  68714703.0

In [21]:
base_url = "https://api.exchangeratesapi.io/history?"
params = {
    "start_at": "2019-01-01",  
    "end_at": "2020-01-02",
    "symbols": "USD,CNY"
}
response = requests.get(base_url, params=params).json()

In [23]:
rates_dt = response['rates']
#print(rates_dt)
#type(response['rates'])
#print(rates_dt)

cols = ['Date', "USD", ]
df2 = pd.DataFrame(columns=cols)
for key, value in rates_dt.items():
    df2 = df2.append({'Date': key, 'USD': value.get("USD"), 'CNY': value.get("CNY")}, ignore_index=True)   
    
df2 = df2.sort_values("Date")    
df2.head()


df2.to_csv("exchangeRates.csv")

In [15]:
df.head()

,start_at,base,end_at,rates.2019-02-05.CNY,rates.2019-02-05.USD,rates.2019-06-28.CNY,rates.2019-06-28.USD,rates.2019-12-30.CNY,rates.2019-12-30.USD,rates.2019-07-15.CNY,...,rates.2019-03-07.CNY,rates.2019-03-07.USD,rates.2019-03-11.CNY,rates.2019-03-11.USD,rates.2019-05-29.CNY,rates.2019-05-29.USD,rates.2019-11-20.CNY,rates.2019-11-20.USD,rates.2019-09-13.CNY,rates.2019-09-13.USD
0,2019-01-01,EUR,2020-01-02,7.6938,1.1423,7.8185,1.138,7.8175,1.1189,7.7484,...,7.5622,1.1271,7.5612,1.1244,7.7081,1.1156,7.7786,1.1059,7.8589,1.1096